// colors
$bodycolor: #f7f8fc;
$btnColor: #dc5df7;
$paragraphColor: #75758b;
$menucolor: #757583;
$headerColor: #121217;
$footerColor: #151946;
$blue: #5740fc;
$purble: #d75bf7;
$fullscreenBackground: linear-gradient(140deg, #4e54c8, #dc5df7);

// font-family
$headerFont-family: "Roboto", sans-serif;
$bodyFont-family: "Nunito", sans-serif;

//font-size
$headerFont-size: 2rem;
$bodyFont-size: 0.95rem;

//Box-shadows
$header-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
$allSide-Shadow: 0 0 10px rgba(0, 0, 0, 0.1);
