@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
html body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background: #f7f8fc;
  font-size: 0.95rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
}

.contact-text {
  font-weight: normal;
  font-family: "Nunito", sans-serif;
  font-size: 0.95rem;
}

header span {
  color: #121217;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

header li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.left-content h1 {
  font-size: 2rem;
  color: #fff;
}

.left-content p {
  font-size: 0.95rem;
  color: #fff;
}

.wrapper h2 {
  color: #121217;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.wrapper p {
  color: #75758b;
}

p {
  color: #75758b;
}

.cta {
  border: 2px solid #fafafc;
  border-radius: 2rem;
  cursor: pointer;
}

.left-content .fullsreen-btn {
  text-decoration: none;
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.9rem 2rem;
  border-radius: 2rem;
  background-color: #dc5df7;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.left-content .fullsreen-btn:hover {
  -webkit-box-shadow: 0 5px 5px -2px rba(#fafa);
          box-shadow: 0 5px 5px -2px rba(#fafa);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.serviceBtn {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  padding: 0.8rem 2rem;
  color: #dc5df7;
  border: 1px solid #dc5df7;
  border-radius: 2rem;
}

header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(206, 206, 206, 0.158);
}

header #logo {
  margin-right: auto;
  margin-left: 2rem;
}

header #logo a {
  text-decoration: none;
}

header nav {
  margin-right: 2rem;
}

header ul {
  margin: 0;
  list-style-type: none;
}

header li {
  display: inline;
}

header a {
  padding: 0.7rem 1.5rem;
}

.toggle {
  margin-right: 2rem;
  display: none;
}

.toggle div {
  height: 3px;
  width: 30px;
  background-color: #fff;
  margin-top: 5px;
  border-radius: 0.4rem;
}

@media only screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  header {
    background-color: #fff;
    border-bottom: none;
  }
  header span {
    color: #5d55cd;
  }
  header .toggle {
    display: inline-block;
  }
  header .toggle div {
    background-color: #585858;
  }
  header nav {
    overflow: hidden;
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    max-height: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header ul {
    margin: 0;
    padding: 0;
  }
  header li {
    display: block;
    padding-top: 1.5rem;
    text-align: center;
    width: 100%;
  }
  header li a {
    color: #333;
  }
  header li .cta {
    display: inline-block;
    margin-bottom: 1rem;
    border-color: #9b59e1;
    color: #9b59e1;
  }
  .line-1 {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .line-2 {
    display: block;
  }
  .line-3 {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .right-content {
    display: none;
  }
  .fullscreen-header {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #service .inner-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #service .inner-wrapper [class*="service-"] {
    margin-top: 1rem;
    -ms-flex-preferred-size: 20rem;
        flex-basis: 20rem;
  }
  .about-row .image-holder img {
    width: 15rem;
  }
  #price .inner-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #price .inner-wrapper [class*="pricing-"] {
    margin-top: 3rem;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  #price .popular {
    left: -16%;
    bottom: 85%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #fff;
  }
  #porfolio {
    -ms-grid-columns: 18rem 18rem;
        grid-template-columns: 18rem 18rem;
    -ms-grid-rows: 12rem 12rem 12rem 12rem 12rem 12rem;
        grid-template-rows: 12rem 12rem 12rem 12rem 12rem 12rem;
  }
  #blog .inner-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #blog .inner-wrapper [class*="post-"] {
    margin: 2rem 1rem 0 1rem;
    -ms-flex-preferred-size: 18rem;
        flex-basis: 18rem;
  }
  #contact .inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contact .inner-wrapper .contact-info,
  #contact .inner-wrapper form {
    width: 90%;
  }
}

.fullscreen-header {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: linear-gradient(140deg, #4e54c8, #dc5df7);
  padding: 1rem;
}

.right-content,
.left-content {
  margin-top: 2rem;
}

.right-content img {
  height: 30rem;
  border-radius: 5rem;
}

.right-content {
  margin-top: 6rem;
  -ms-flex-preferred-size: 25rem;
      flex-basis: 25rem;
}

.left-content {
  margin-top: 10rem;
  margin-left: 3rem;
  -ms-flex-preferred-size: 25rem;
      flex-basis: 25rem;
}

.wrapper {
  margin: 3rem auto 2rem;
  width: 85%;
  text-align: center;
}

.wrapper .wrapper-header {
  margin: 1rem auto 3rem;
  width: 60%;
}

.wrapper .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper [class*="service-"] {
  -ms-flex-preferred-size: 17rem;
      flex-basis: 17rem;
  background: #fff;
  padding: 2.5rem 1.1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}

.wrapper [class*="service-"] img {
  height: 5rem;
}

.about {
  margin-top: 5rem;
  width: 100%;
}

.about .about-header {
  text-align: center;
  margin: 1rem auto 0;
  width: 50%;
}

.about .about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-row div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-row .image-holder {
  background: rgba(245, 238, 255, 0.863);
  padding: 2rem;
  text-align: center;
}

.about-row .image-holder img {
  height: 15rem;
}

[class*="left-"] {
  margin-right: 3rem;
}

[class*="right-text"] {
  margin-left: 2rem;
  padding-right: 4rem;
}

.left-1,
.left-2 {
  border-radius: 0 11rem 11rem 0;
}

.left-text {
  padding-left: 4rem;
}

.right-text-2 {
  text-align: right;
  border-radius: 11rem 0rem 0rem 11rem;
}

.about-row .left-3 {
  padding: 0 2rem 0 4rem;
}

[class*="pricing-"] {
  -ms-flex-preferred-size: 23rem;
      flex-basis: 23rem;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: #75758b;
}

[class*="pricing-"] ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

[class*="pricing-"] li {
  padding: 1.4rem 0;
}

[class*="pricing-"] span {
  font-weight: 600;
  color: #9759e0;
}

[class*="pricing-"] .price-header {
  font-size: 1.5rem;
  font-weight: 600;
}

[class*="pricing-"] a {
  margin-top: s3rem;
  text-decoration: none;
  padding: 0.8rem 2.3rem;
  color: #9759e0;
  border: 1px solid #9759e0;
  border-radius: 2rem;
}

[class*="pricing-"] a:hover {
  background-color: #9759e0;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.pricing-2 {
  position: relative;
  overflow: hidden;
  background: linear-gradient(140deg, #4e54c8, #dc5df7);
  color: #fff;
}

.pricing-2 span {
  color: #fff;
}

.pricing-2 .popular {
  position: absolute;
  background: #fff;
  color: #9759e0;
  width: 20rem;
  left: -30%;
  bottom: 90%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  text-align: center;
  padding: 0.1rem;
}

.pricing-2 a {
  border-color: #fff;
  color: #fff;
}

.pricing-2 a:hover {
  background-color: #fff;
  color: #9759e0;
}

.pricing-2 .price-header {
  color: #fff;
}

[class*="pricing-"] .amount {
  font-size: 1.2rem;
}

.Projects {
  margin: 2rem auto 2rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17rem 17rem 17rem 17rem;
      grid-template-columns: 17rem 17rem 17rem 17rem;
  -ms-grid-rows: 11rem 11rem 11rem;
      grid-template-rows: 11rem 11rem 11rem;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Projects div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Projects img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

[class*="post-"] {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -ms-flex-preferred-size: 17.5rem;
      flex-basis: 17.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

[class*="post-"] img {
  width: 100%;
  height: 12rem;
  border-radius: 0.3rem 0.3rem 0 0;
}

[class*="post-"] h1 {
  font-size: medium;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}

[class*="post-"] p {
  padding: 0 0.7rem;
}

[class*="post-"] a {
  display: inline-block;
  margin-bottom: 1rem;
  text-decoration: none;
  padding: 0.8rem 2.3rem;
  color: #9759e0;
  border: 1px solid #9759e0;
  border-radius: 2rem;
}

[class*="post-"] a:hover {
  background-color: #9759e0;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.post-1,
.post-2 {
  margin-right: 1rem;
}

.post-4 {
  margin-left: 1rem;
}

#map {
  width: 50%;
  height: 400px;
}

.inner-wrapper form {
  width: 50%;
  padding: 1rem 0 1rem 1rem;
}

.inner-wrapper form .form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner-wrapper form label {
  display: block;
  text-align: left;
}

.inner-wrapper form textarea {
  width: 100%;
  height: 11rem;
  resize: none;
}

.inner-wrapper form button {
  display: block;
}

.inner-wrapper form span,
.inner-wrapper form #textarea,
.inner-wrapper form button {
  margin-top: 0.6rem;
}

.inner-wrapper form span {
  width: 48%;
}

.inner-wrapper form input {
  width: 100%;
  padding: 0.5rem;
}

.inner-wrapper form input,
.inner-wrapper form textarea {
  border: none;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}

.inner-wrapper form input:focus,
.inner-wrapper form textarea:focus {
  border: 1px solid #67b3ff;
}

.inner-wrapper form button {
  padding: 0.8rem 2.3rem;
  border: none;
  border: 1px solid #b687ec;
  border-radius: 2rem;
  color: #fff;
  background-color: #9759e0;
  font-size: 0.9rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.inner-wrapper form textarea {
  padding: 0.5rem;
}

.inner-wrapper form input[type="number"] {
  -moz-appearance: textfield;
}

.inner-wrapper form input::-webkit-outer-spin-button,
.inner-wrapper form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

footer {
  width: 100%;
  height: 5rem;
  background: #19283e;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backscroll {
  background-color: #7857d6;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 90%;
  right: -10%;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}

.backscroll i {
  font-size: 1.5rem;
  padding: 0.2rem;
}

@media only screen and (max-width: 667px) {
  body {
    overflow-x: hidden !important;
  }
  header {
    background-color: #927ad8 !important;
  }
  header .toggle div {
    background: #fff !important;
  }
  #logo span {
    color: #fff;
  }
  #service {
    width: 100%;
  }
  #service .inner-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-row .image-holder {
    margin: none;
  }
  .about-row .left-text {
    padding-left: 2rem;
  }
  #price .inner-wrapper [class*="pricing-"] {
    -ms-flex-preferred-size: 20rem;
        flex-basis: 20rem;
  }
  #price .popular {
    left: -35%;
    bottom: 90%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #fff;
  }
  #porfolio {
    -ms-grid-columns: 19rem;
        grid-template-columns: 19rem;
    -ms-grid-rows: 13rem 13rem 13rem 13rem 13rem 13rem 13rem 13rem 13rem 13rem 13rem 13rem;
        grid-template-rows: 13rem 13rem 13rem 13rem 13rem 13rem 13rem 13rem 13rem 13rem 13rem 13rem;
  }
  #blog .inner-wrapper [class*="post-"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
    margin-top: 1rem;
  }
  #contact .inner-wrapper .contact-info,
  #contact .inner-wrapper form {
    width: 100%;
    padding-left: 0;
  }
  .inner-wrapper form .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-wrapper form .form-row span {
    width: 100%;
  }
  .inner-wrapper form button {
    width: 100%;
    outline: none;
  }
}

.scroll-header {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);
  border-bottom: none;
  z-index: 10;
}

.sroll-logo {
  color: #5d55cd;
}

.scroll-menu {
  color: #757583;
}

.scroll-menu:hover {
  color: #ad5ae7;
}

.scroll-cta {
  color: #ad5ae7;
  border: 2px solid #ad5ae7;
}

.slide-backicon {
  right: 1%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slide-backicon:hover {
  background-color: #cb5cf1;
}

.toggle-nav {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-height: 400px;
}

.rotate-lineone {
  -webkit-transform: rotate(45deg) translateY(6px);
          transform: rotate(45deg) translateY(6px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.disapear-line {
  display: none;
}

.rotate-lineThree {
  -webkit-transform: rotate(-45deg) translateY(-6px);
          transform: rotate(-45deg) translateY(-6px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*# sourceMappingURL=app.css.map */