// full screen header
.fullscreen-header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: $fullscreenBackground;
  padding: 1rem;
}
.right-content,
.left-content {
  margin-top: 2rem;
}
.right-content img {
  height: 30rem;
  border-radius: 5rem;
}
.right-content {
  margin-top: 6rem;
  flex-basis: 25rem;
}
.left-content {
  margin-top: 10rem;
  margin-left: 3rem;
  flex-basis: 25rem;
}
//sevice section
.wrapper {
  margin: 3rem auto 2rem;
  width: 85%;
  text-align: center;
  .wrapper-header {
    margin: 1rem auto 3rem;
    width: 60%;
  }
  .inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  [class*="service-"] {
    flex-basis: 17rem;
    background: #fff;
    padding: 2.5rem 1.1rem;
    box-shadow: $allSide-Shadow;
    border-radius: 0.3rem;
  }
  [class*="service-"] img {
    height: 5rem;
  }
}
// About Section
.about {
  margin-top: 5rem;
  width: 100%;
  .about-header {
    text-align: center;
    margin: 1rem auto 0;
    width: 50%;
  }
  .about-row {
    @include flexSpaceBtwn;
  }
}
.about-row div {
  flex: 1;
}
.about-row .image-holder {
  background: rgba(245, 238, 255, 0.863);
  padding: 2rem;
  text-align: center;
  img {
    height: 15rem;
  }
}
[class*="left-"] {
  margin-right: 3rem;
}
[class*="right-text"] {
  margin-left: 2rem;
  padding-right: 4rem;
}

.left-1,
.left-2 {
  border-radius: 0 11rem 11rem 0;
}
.left-text {
  padding-left: 4rem;
}
.right-text-2 {
  text-align: right;
  border-radius: 11rem 0rem 0rem 11rem;
}

.about-row .left-3 {
  padding: 0 2rem 0 4rem;
}
// Pricing table
[class*="pricing-"] {
  flex-basis: 23rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: $paragraphColor;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 1.4rem 0;
  }
  span {
    font-weight: 600;
    color: #9759e0;
  }
  .price-header {
    font-size: 1.5rem;
    font-weight: 600;
  }
  a {
    margin-top: s3rem;
    text-decoration: none;
    padding: 0.8rem 2.3rem;
    color: #9759e0;
    border: 1px solid #9759e0;
    border-radius: 2rem;
    &:hover {
      background-color: #9759e0;
      color: #fff;
      transition: all 0.5s ease;
    }
  }
}
.pricing-2 {
  position: relative;
  overflow: hidden;
  background: $fullscreenBackground;
  color: #fff;
  span {
    color: #fff;
  }
  .popular {
    position: absolute;
    background: #fff;
    color: #9759e0;
    width: 20rem;
    left: -30%;
    bottom: 90%;
    transform: rotate(-45deg);
    text-align: center;
    padding: 0.1rem;
  }
  a {
    border-color: #fff;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #9759e0;
    }
  }
}
.pricing-2 .price-header {
  color: #fff;
}
[class*="pricing-"] .amount {
  font-size: 1.2rem;
}
//portfolio section
.Projects {
  margin: 2rem auto 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 17rem 17rem 17rem 17rem;
  grid-template-rows: 11rem 11rem 11rem;
  grid-gap: 1rem;
  justify-content: center;
  div {
    background: coral;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  img {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
}
//Blog Post
[class*="post-"] {
  background: #fff;
  box-shadow: $allSide-Shadow;
  flex-basis: 17.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  img {
    width: 100%;
    height: 12rem;
    border-radius: 0.3rem 0.3rem 0 0;
  }
  h1 {
    font-size: medium;
    font-weight: lighter;
    font-family: $headerFont-family;
  }
  p {
    padding: 0 0.7rem;
  }
  a {
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
    padding: 0.8rem 2.3rem;
    color: #9759e0;
    border: 1px solid #9759e0;
    border-radius: 2rem;
    &:hover {
      background-color: #9759e0;
      color: #fff;
      transition: all 0.5s ease;
    }
  }
}
.post-1,
.post-2 {
  margin-right: 1rem;
}
.post-4 {
  margin-left: 1rem;
}

//Contact Us Section
#map {
  width: 50%;
  height: 400px;
}

.inner-wrapper form {
  width: 50%;
  padding: 1rem 0 1rem 1rem;
  .form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  label {
    display: block;
    text-align: left;
  }
  textarea {
    width: 100%;
    height: 11rem;
    resize: none;
  }
  button {
    display: block;
  }
  span,
  #textarea,
  button {
    margin-top: 0.6rem;
  }
  span {
    width: 48%;
  }
  input {
    width: 100%;
    padding: 0.5rem;
  }
  input,
  textarea {
    border: none;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    &:focus {
      border: 1px solid #67b3ff;
    }
  }
  button {
    padding: 0.8rem 2.3rem;
    border: none;
    border: 1px solid #b687ec;
    border-radius: 2rem;
    color: #fff;
    background-color: #9759e0;
    font-size: 0.9rem;
    box-shadow: $allSide-Shadow;
    cursor: pointer;
  }
  textarea {
    padding: 0.5rem;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
//footer
footer {
  width: 100%;
  height: 5rem;
  background: #19283e;
  color: #fff;
  @include flexCenter;
}

// quick backscroll
.backscroll {
  background-color: #7857d6;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 90%;
  right: -5%;
  box-shadow: $header-shadow;
}
.backscroll i {
  font-size: 1.5rem;
  padding: 0.2rem;
}
