header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid rgba(206, 206, 206, 0.158);
}
header #logo {
  margin-right: auto;
  margin-left: 2rem;
  a {
    text-decoration: none;
  }
}
header nav {
  margin-right: 2rem;
}
header ul {
  margin: 0;
  list-style-type: none;
}

header li {
  display: inline;
}
header a {
  padding: 0.7rem 1.5rem;
}
.toggle {
  margin-right: 2rem;
  display: none;
}
.toggle div {
  height: 3px;
  width: 30px;
  background-color: #fff;
  margin-top: 5px;
  border-radius: 0.4rem;
}

// Tablet compatability screen
@media only screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  header {
    background-color: #fff;
    border-bottom: none;
    span {
      color: #5d55cd;
    }
    .toggle {
      display: inline-block;
      div {
        background-color: rgb(88, 88, 88);
      }
    }
  }
  header nav {
    overflow: hidden;
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    max-height: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: $header-shadow;
    transition: all 0.5s ease;
  }
  header ul {
    margin: 0;
    padding: 0;
  }
  header li {
    display: block;
    padding-top: 1.5rem;
    text-align: center;
    width: 100%;
  }
  header li a {
    color: #333;
  }
  header li .cta {
    display: inline-block;
    margin-bottom: 1rem;
    border-color: #9b59e1;
    color: #9b59e1;
  }
  //toggle line rotate
  .line-1 {
    transition: all 0.1s ease-in-out;
  }
  .line-2 {
    display: block;
  }
  .line-3 {
    transition: all 0.1s ease-in-out;
  }
  //Fullscreen header
  .right-content {
    display: none;
  }
  .fullscreen-header {
    text-align: center;
    justify-content: center;
  }
  //service Section
  #service .inner-wrapper {
    flex-wrap: wrap;
    [class*="service-"] {
      margin-top: 1rem;
      flex-basis: 20rem;
    }
  }

  //About section

  .about-row .image-holder img {
    width: 15rem;
  }

  // pricing
  #price .inner-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    [class*="pricing-"] {
      margin-top: 3rem;
      flex-basis: 80%;
    }
  }
  #price .popular {
    left: -16%;
    bottom: 85%;
    transform: rotate(-45deg);
    background-color: #fff;
  }
  //portfolio
  #porfolio {
    grid-template-columns: 18rem 18rem;
    grid-template-rows: 12rem 12rem 12rem 12rem 12rem 12rem;
  }
  //Blog
  #blog .inner-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    [class*="post-"] {
      margin: 2rem 1rem 0 1rem;
      flex-basis: 18rem;
    }
  }

  //contact us
  #contact .inner-wrapper {
    flex-direction: column;
    justify-content: center;
    .contact-info,
    form {
      width: 90%;
    }
  }
}
